<!DOCTYPE html>
</html>
    <head>
        <title>CRUD</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <ul class="nav">
              <li class="nav-item"><a href="/categories">Categories</a></li>
              <li class="nav-item"><a href="/recipes">Recipes</a></li>
              <li class="nav-item"><a href="/posts">Posts</a></li>
            </ul>
            <div class="page-header"><h2><%=page_title%></h2></div>

            <div class="page-container">
