<%- include layouts/header.ejs %>

        <div class="page-data">

            <form method="post" action="/categories/add">
                <table cellpadding="11">
                <tr>
                    <td class="label">Name:</td><td> <input type="text" name="name" required></td>
                 </tr>
                 <tr>
                   <td class="label">Sub-category of catogory:</td><td>
                     <select name="category">
                       <option value="None">None</option>
                       <% if(data.length){

                        for(var i = 0;i < data.length;i++) { %>
                       <option value="<%=data[i].name%>"><%=data[i].name%></option>
                       <% } } %>
                     </select>
                   </td>
                </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAddCategory()">
                    </td>
                 </tr>
                </table>
            </form>

        </div>

<%- include layouts/footer.ejs %>
